*{
  font-family: 'Roboto';
}
.App {
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10%;
  font-size: calc(10px + 2vmin);
  background-color: navy;
}
h1{
  color: white;
}
#button1{
  text-align: center;
  padding-top: 1%;
}
.button {
  border-radius: 25px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid navy;
  
}

.button1:hover {
  background-color: navy;
  color: white;
}
.button1:active {
  background-color: navy;
  transform: translateY(4px);
}

.goal{ 
  display: block;
  font-size: 32px;
  padding: 2%;  
}
.caption{
  text-align: center;
  padding: 2%;
  font-size: 32px;
}
.page-link{
  min-height: 35vh;

}
.usability-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10%;
  font-size: calc(10px + 2vmin);
  background-color: darkgreen;
}

.usability-principles{ 
  display: block;
  font-size: 32px;
  padding: 2%;  
}
.image-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-img{
  height: 500px;
}
.filter-caption{
  color: gray;
  font-size: 18px;
}
.shop{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-img{
  width: 500px;
  height: 500px;
}
.shop-caption{
  color: gray;
  font-size: 18px;
}

.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-img{
  height: 500px;
}

.cart-caption{
  color: gray;
  font-size: 18px;
}
.explain{ 
  display: block;
  font-size: 32px;
  padding: 2%;
}
.conclusion-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10%;
  font-size: calc(10px + 2vmin);
  background-color: maroon;
}

.conclusion{ 
  display: block;
  font-size: 32px;
  padding: 2%;
  min-height: 50vh;
}